/* Header */

.header {
  background: #202020;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header .inner-logo a {
  font-style: 24px;
  font-weight: 700;
  color: #fff;
}
/* End Header */

/* Body */
.body .sider {
  width: 150px;
  background-color: #323232;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 44px;
  left: 0;
}

.body .main {
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}

/* Sider */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
}
/* End Sider */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background-color: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

/* Image Preview */
[upload-image] {
  position: relative;
}

.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 50px;
  left: 150px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.image-preview[src=""] {
  display: none;
}


.image-preview:not([src=""]) ~ .close-button {
  display: block; /* Hiển thị nút nếu img có src khác rỗng */
}

/*End Image Preview */